{{ define "main" }}
	<main>
		<article>
			{{ $date := "" }}
			{{ if .Date }}{{ $date = safeHTML (print "<p><time>" (.Date.Format "02.01.2006 15:04") "</time></p>") }}{{ end }}
			<div class="content">
				{{ if not .Params.no_header }}
				<div class="header">
					<h2>{{ .Title }}</h2>
				</div>
				<!-- {{ partial "section.html" (dict "title" .Title "content" $date) }} -->
				{{ end }}
				{{ .Content }}
			</div>
			<!--
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			-->
		</article>
	</main>
{{ end }}
