<header>
	<!-- <h1 href="{{ .Site.BaseURL }}">{{ .Site.Title }}</h1> -->
	<img class="logo" src="{{ "/assets/logo.svg" | relURL }}">
	<div class="info">
		<span>{{ .Site.Params.heading }}</span>
		<a href="{{ "/organisation/schedule" | relURL }}">View schedule&nbsp;&nbsp;→</a>
	</div>
	<div class="bar">
		<span>ORGANISED BY</span>
		<div class="sponsorList" id="sponsorList">
			{{ partial "images.html" (dict "class" "sponsor" "path" "assets/organisers/" ) }}
		</div>

		<script>
			const list = document.getElementById("sponsorList");
			const logos = list.getElementsByClassName("sponsor");
			let idx = 0;

			setInterval(function() {
				idx = (idx + 1) % logos.length;
				const scroll = logos[idx].offsetLeft + logos[idx].clientWidth/2;
				list.scrollTo({ left: scroll - list.clientWidth/2, behavior: 'smooth' });
			}, 2000);
		</script>
	</div>
</header>
