{{/*  Loads all images from specified .path glob and creates <img> elements with specified .class  */}}

{{ $imgGlob := .path }}
{{ $class := .class }}
{{ $type := .type }}
{{ $size := .size }}

{{ range resources.Match $imgGlob }}
{{ if eq .ResourceType "image" }}
    {{ $imgMeta := split .Name "." }}
    {{ $ext := index $imgMeta (sub (len $imgMeta) 1) }}

    {{ if or (eq $ext "jpg") (eq $ext "png") }}

    {{ $webp := .Resize (print $size " webp " $type) }}

    <picture class="{{ print $class "-container" }}">
        <source type="image/webp" srcset="{{ $webp.RelPermalink }}" />
        <img class="{{ $class }}"
             src="{{ .RelPermalink }}"
             alt="{{ index $imgMeta 1 }}"
             width="{{ .Width }}" height="{{ .Height }}" />
    </picture>

    {{ else }}

    <img class="{{ print $class "-container" }} {{ $class }}"
         src="{{ .RelPermalink }}"
         alt="{{ index $imgMeta 1 }}" />

    {{ end }}
    
{{ end }}
{{ end }}
